.skillContainer{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* height: 100vh; */
    max-width: 1400px;
    margin-top: 4rem;
    color: #F9F5EB;
    margin-bottom: 5rem;
}

.skillContainer h2{
    font-size: 40px;
    margin-bottom: 1rem;
    -webkit-text-stroke: 0.7px #616F39;
}

.container{
    /* background-color: green; */
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.mainSkillContainer{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 45%;
    /* background-color: pink; */
    border: 1px solid #A7D129;
    border-radius: 10px;
}

.mainSkillContainer h3{
    font-size: 20px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.skillBlock{
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* background-color: rgb(70, 70, 179); */
}

.mySkillsContainer{
    display: flex;
    align-items: flex-start;
    /* background-color: purple; */
    gap: 1rem;
    width: 100%;
    margin-bottom: 3rem;
}

.icon{
    display: flex;
    /* background-color: brown; */
    margin-top: 1.2rem;
    color: #616F39;
    font-size: 18px;
}

/* .mySkills{
    background-color: burlywood;
} */

.mySkills h3{
    margin-bottom: .3rem;
    font-size: 16px;
}

.mySkills p{
    font-size: 14px;
}


/* @media screen and (max-width: 1024px){
    .skillContainer{
        background-color: red;
        height: 100%;
        margin-bottom: 2rem;
    }

} */

@media screen and (max-width: 1024px){
    .skillContainer{
        /* background-color: green; */
        /* width: 1040px; */
        /* height: 100%; */
        /* margin-bottom: 2rem; */
    }

    .container{
        /* background-color: red; */
        width: 90%;
    }

    .mainSkillContainer{
        /* padding-left: 7rem;
        padding-right: 7rem; */
        /* background-color: rgb(194, 62, 84);
        height: 100%; */
    }

}

@media screen and (max-width: 900px){
    /* .skillContainer{
        background-color: red;
    } */

    .container{
        /* background-color: blue; */
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        /* width: 150%; */
    }

    .mainSkillContainer{
        /* background-color: green; */
        width: 100%;
        /* display: flex;
        flex-direction: column; */
    }

    .mainSkillContainer h3{
        font-size: 25px;
    }

    .mySkills h3{
        font-size: 25px;
    }

    .mySkills p{
        font-size: 18px;
    }
}


@media screen and (max-width: 450px){
    .skillBlock{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}