.aboutMeContainer{
   /* height: 100%; */
   max-width: 1400px;
   padding: 30px;
}

.aboutMeHeader{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 color: #F9F5EB;
}

.aboutMeHeader h2{
    font-size: 40px;
    margin-bottom: .5rem;
    -webkit-text-stroke: .7px #616F39;
}

.aboutMeHeader p{
    width: 95%;
    font-size: 20px;
}

.aboutMeBody{
 display: flex;
 justify-content: space-between;
}

.aboutMeBodyBlock{
    margin-top: 2rem;
    color: #F9F5EB;
    width: 50%;
}

.aboutMeBodyBlock h4{
    font-size: 20px;
    margin-bottom: .5rem;
    font-weight: 500;
}

.aboutMeBodyText{
    border: 1px solid #A7D129;
    width: 90%;
    padding: 7px;
    margin-bottom: .8rem;
}

.aboutMeDates{
    color: #616F39;
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: .5rem;
}

.aboutMeDates span{
    display: inline-block;
    background-color: #616F39;
    border: 1px solid #616F39 ;
    height: .8rem;
    width: .8rem;
}

.aboutMeBodyText h4{
    font-size: 20px;
}


/* MEDIA QUERY */
@media screen and (max-width: 1024px) {
    .aboutMeContainer{
        padding: 50px;
        margin-top: -4rem;
    }


   .aboutMeHeader p{
    font-size: 18px;
}
}

@media screen and (max-width: 789px) {
    .aboutMeContainer{
        margin-top: 1rem;
    }

    .aboutMeHeader{
        margin-top: -4rem;
    }

    .aboutMeBody{
        display: flex;
        flex-direction: column;
    }

}
@media screen and (max-width: 489px) {
    .aboutMeContainer{
        padding: 0;
        margin-top: 8rem;
    }
   
.aboutMeBody{
    display: flex;
    flex-direction: column;
}
.aboutMeHeader h2{
    font-size: 30px;
}
.aboutMeHeader p,
.aboutMeText{
    font-size: 16px;
}
}