.aboutMeContainer{
   height: 100%;
   max-width: 1400px;
   padding: 30px;
   /* margin-top: -4rem; */
   /* background-color: red; */
}

.aboutMeHeader{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 color: #F9F5EB;
 /* margin-top: -2rem; */
 /* max-width: 100%; */
}

.aboutMeHeader h2{
    font-size: 45px;
    margin-bottom: .5rem;
    -webkit-text-stroke: .7px rgb(104, 104, 153);
}

.aboutMeHeader p{
    width: 95%;
    font-size: 20px;
}

.aboutMeBody{
 display: flex;
 /* align-items: center; */
 justify-content: space-between;
}

.aboutMeBodyBlock{
    margin-top: 2rem;
    color: #F9F5EB;
}

.aboutMeBodyBlock h4{
    font-size: 20px;
    margin-bottom: .5rem;
    font-weight: 500;
}

.aboutMeBodyText{
    border: 1px solid #C8B6A6;
    width: 90%;
    padding: 7px;
    margin-bottom: .8rem;
}

.aboutMeDates{
    color: #C8B6A6;
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: .5rem;
}

.aboutMeDates span{
    display: inline-block;
    background-color: #C8B6A6;
    border: 1px solid #C8B6A6 ;
    height: .8rem;
    width: .8rem;
    /* gap: 1rem; */
}

.aboutMeBodyText h4{
    font-size: 20px;
}

/* .aboutMeText{

} */

/* MEDIA QUERY */
@media screen and (max-width: 1024px) {
    .aboutMeContainer{
        padding: 50px;
        margin-top: -4rem;
        /* background-color: red; */
    }


   .aboutMeHeader p{
    font-size: 18px;
}
}

@media screen and (max-width: 789px) {
    .aboutMeContainer{
        /* background-color: green; */
        margin-top: 1rem;
    }

    .aboutMeHeader{
        margin-top: -4rem;
    }

    .aboutMeBody{
        display: flex;
        flex-direction: column;
        /* background-color: red; */
    }

}
@media screen and (max-width: 489px) {
    .aboutMeContainer{
        /* background-color: green; */
        padding: 0;
        margin-top: 8rem;
    }
   
.aboutMeBody{
    display: flex;
    flex-direction: column;
}
.aboutMeHeader h2{
    /* margin-top: 5rem; */
    font-size: 30px;
}
.aboutMeHeader p,
.aboutMeText{
    font-size: 16px;
}
}